.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 50;
}

.loading-bar {
  width: 10px;
  height: 50px;
  margin: 0 5px;
  background: white;
  border-radius: 5px;
  animation: slide 3s infinite, pulse 1.5s infinite;
}

.bar1 {
  animation-delay: 0s, 0s;
}

.bar2 {
  animation-delay: 1s, 0.5s;
}

.bar3 {
  animation-delay: 2s, 1s;
}

@keyframes slide {
  0%, 100% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}
